{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'task_list' %}">Tasks</a></li>
                <li><a href="{% url 'create_task' %}">Create task</a></li>
                {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Admin panel</a></li>
                {% endif %}
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <li>
                        <button type="submit">Logout</button>
                    </li>
                </form>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<div class="content">
    {% block content %}{% endblock %}
</div>

<footer>
    <h1>Made by Bohdan Rybchynskyi</h1>
</footer>
</body>
</html>
